<div class="d-grid gap-2 d-md-block">
  <center>
      <br>
      
      <br>
    <h1>WELCOME TO </h1>
      <br>
    <h1>WEIGHT 2 GO Fitness</h1>
      <br>
    {{!-- <h1>🏋️‍♀️ APPLICATION 🏋️‍♀️</h1> --}}
   
      <button class="btn btn-dark" type="button"><a href="/login">LOGIN</a></button>
    <button class="btn btn-dark" type="button"><a href="/signup">SIGN UP</a></button>
  </center>
</div>