<div class="d-grid gap-2 d-md-block">
  <center>
      <br>
        <br>
      <br>
    <h1>WELCOME TO THE</h1>
      <br>
    <h1>WEIGHT TO GO WORKOUT</h1>
      <br>
    <h1>🏋️‍♀️ APPLICATION 🏋️‍♀️</h1>
      <br>
  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
      <br>
        <br>
      <br>
      <button class="btn btn-primary" type="button"><a href="./login">LOGIN</a></button>
    <button class="btn btn-primary" type="button"><a href="./signup">SIGN UP</a></button>
  </center>
</div>