<div class="d-grid gap-2 d-md-block">
  <center>
      <br>
      
      <br>
    <h1>WELCOME TO </h1>
      <br>
    <h1>WEIGHT 2 GO Fitness</h1>
      <br>
    {{!-- <h1>🏋️‍♀️ APPLICATION 🏋️‍♀️</h1> --}}
        {{!-- <a href="/signup" class="btn btn-dark">Sign Up</a>
        <a href="/login" class="btn btn-dark">Login</a> --}}
      <button class="btn btn-dark" type="button"><a href="/login">Login</a></button>
    <button class="btn btn-dark" type="button"><a href="/signup">Sign Up</a></button>
  </center>
</div>