<h1>Login</h1>
<div class="container-fluid max-width">
  <div class="row">
    <div class="col-auto">
    
    <form class="form login-form justify-content-center">
      <div class="form-group">
        <label for="email-login">email:</label>
        <input class="form-input" style= "width: 375px;" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group ">
        <button class="btn btn-dark" style=" margin-top: 4px; width:200px;" type="submit">login</button>
      </div>
    </form>
  </div>
  {{!-- <div class="col-md-6"> --}}
    </div>
    </div>
    </div>
<script src="/js/login.js"></script>
