
<div class="row">
  <div class="col-4">
    <div class="input-group mb-3">
      <label class="input-group-text" for="inputGroupSelect01">Choose Your Equipment</label>
      <select class="form-select" id="inputGroupSelect01">
        <option selected>Choose...</option>
        <option value="1">At Home</option>
        <option value="2">At the Gym</option>

      </select>
    </div>
    <div class="input-group mb-3">
      <label class="input-group-text" for="inputGroupSelect01">Select Your Target Area</label>
      <select class="form-select" id="inputGroupSelect01">
        <option selected>Choose...</option>
        <option value="1">Back</option>
        <option value="2">Chest</option>
        <option value="3">Lower Arms</option>
        <option value="4">Upper Arms</option>
        <option value="5">Shoulders</option>
        <option value="6">Core / Waist</option>
        <option value="7">Upper Legs</option>
        <option value="8">Lower Legs</option>
      </select>
    </div>
    <input class="btn btn-primary" type="submit" value="Submit">

  </div>
  <div class="col-8">

    Column

{{#if workout.length}}

{{#each randomWorkoutArray as |randomWorkout|}}
<div class="text-center">
  <h2>Body Part:{{randomWorkout.workoutBodypart}}</h2>
  <p>Name of Workout:{{randomWorkout.workoutName}}</p>
  <p>Target Muscle: {{randomWorkout.workoutTarget}}</p>
   <img src={{randomWorkout.workoutGif}}>
</div>

    {{!-- <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="./images/smallplaceholderimage.jpg" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div> --}}




  </div>

</div>