 <section class="center">
   <br>
 <h1 class="signup">Signup</h1>
    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup ">name:</label>
        <input class="form-input" style= "width: 373px;" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input" style= "margin-left: 2px; width: 373px;" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-dark" style=" margin-top: 4px; width:200px;"type="submit">signup</button>
      </div>
    </form>
 
<script src="/js/signup.js"></script>
</section>