.navbar {
    background: linear-gradient(to left, #040404, #838283);
    background-color:rgb(130, 130, 130);
    color:black;
    font-size: larger;
    display:flex;

}
#navtext :hover{
    color:black !important;
    font-weight: bold !important;
    border: #e105f5 !important;
    filter: drop-shadow(5px 5px 0px rgb(251, 3, 201));
    /* text-shadow: black 5px, 10px; */
}
#navtext{
    font-size: 25px;
    color:black;
}
.buttons :hover{
    color:black !important;
    font-weight: bold !important;
    text-shadow: black 5px, 10px;
    filter: drop-shadow(5px 5px 0px rgb(251, 3, 205));
}    
.subglow :hover{
    color:rgb(253, 252, 252) !important;
    font-weight: bold !important;
    text-shadow: rgb(254, 253, 253) 5px, 10px;
    filter: drop-shadow(5px 5px 0px rgb(251, 3, 205));
} 

#buttons1 :hover{
    color:rgb(253, 251, 251) !important;
    font-weight: bold !important;
    text-shadow: black 5px, 10px;
    filter: drop-shadow(5px 5px 0px rgb(251, 3, 205));
}   

#buttons2 :hover{
    color:rgb(34, 242, 15) !important;
    font-weight: bold !important;
    text-shadow: black 5px, 10px;
    filter: drop-shadow(5px 5px 0px rgb(251, 3, 205));
}  
/* body{
    
    background-image: url('./') !important;
} */
body {
    background-image: url('../images/bglogo.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    filter: drop-shadow(7px 7px 5px rgb(252, 2, 186));
    margin-left: 5%;
    margin-right: 5%;
    
  }
  h1{
      font-size: 60px;
      font-family: fantasy;
      color:#e105f5;
      text-align:center ;
      filter: drop-shadow(5px 5px 3px rgb(251, 250, 251));
  }
/* .container{
    margin-left: 20px;
    margin-right: 20px;
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    
} */

/* .container{
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
} */
